---
import { Image } from 'astro:assets';
import type { Block } from '../../models/Block';
import type { ContentFieldType } from '../../models/Content';
import type { PointerMediaImageItem } from '../../models/Pointers';
import { getAbsoluteImageUrl } from '../../lib/ImageService';
import { getBannerUrl } from '../../lib/BannerService';

export interface BannerType {
  linkText: string;
  actionText: string;
  blockImagePointer?: PointerMediaImageItem;
  bannerLinkToCategory?: any[];
  bannerLinkToPage?: any[];
  bannerLinkToProduct?: any[];
}

export interface BannerField extends ContentFieldType {
  banners: BannerType[];
}
interface Props extends Block {
  fields: BannerField;
}

const { fields, systemId, children, priority } = Astro.props;
const { banners } = fields;

---
<div class:list={
  [
    'grid grid-cols-1',
    banners.length === 1 && 'w-screen left-1/2 relative -translate-x-2/4',
    banners.length === 2 && 'gap-6 lg:grid-cols-2',
    banners.length === 3 && 'gap-6 lg:grid-cols-2',
    banners.length === 4 && 'gap-6 lg:grid-cols-2',
  ]
  }
>
  {banners.map((banner) => (
    <div class="relative">
      {banner?.blockImagePointer?.item && (
        <Image
          src={getAbsoluteImageUrl(banner.blockImagePointer.item)}
          alt={banner.blockImagePointer?.item?.alt ?? ""}
          width={banner.blockImagePointer.item.dimension.width ?? 0}
          height={banner.blockImagePointer.item.dimension.height ?? 0}
          class="w-full object-cover"
          style={{
            maxHeight: `${banner.blockImagePointer.item.dimension.height}px`,
          }}
        />
      )}
      {(banner.linkText || banner.actionText) && (
        <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-center bg-black/25 rounded p-4 border border-transparent">
          {banner.linkText && <h2 class="text-9xl text-white m-0">{banner.linkText}</h2>}
          {banner.actionText && <a class="text-white text-3xl underline inline-block" href={getBannerUrl(banner)}>{banner.actionText}</a>}
        </div>
      )}
    </div>
  ))}
</div>